.main {
	position: relative;
	height: auto;
	width: 350px;
	top: -485.75px;
	left: 777.5px;
	background-color: #fff;
	padding: 10px;
}
.thrail-modal-save {
	position: fixed;
}
.thail-commerce-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.thail-commerce-disable-all {
	padding: 0.5rem 1rem;
    background-color: #6b7280;
    border: 1px solid #6b7280;
    color: white;
    font-weight: bold;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in-out; 
}
.thail-commerce-disable-all:hover {
    background-color: #ef4444;
}
.thail-commerce-enable-all {
    padding: 0.5rem 1rem;
    background-color: #0029af;
    border: 1px solid #6b7280;
    color: white;
    border-radius: 0.375rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}
.thail-commerce-enable-all:hover {
    background-color: #0842ff;
}
.thail-commerce-control-button {
	gap: 8px;
}
