#commerce-kit-modal {
	position: fixed;
	background: #c8c8c859;
	top: 0;
	border: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wp-admin #commerce-kit-modal {
	left: 160px;
}
#commerce-kit-modal-loader {
	position: absolute;
}
