/* .wp-block-thrail-commerce-accordion .accordion-header {
	cursor: pointer;
	background-color: #ccc;
	padding: 10px;
}

.wp-block-thrail-commerce-accordion .accordion-content {
	display: none;
	padding: 10px;
	background-color: #f9f9f9;
} */
