.thrail-commerce-accordion-header {
	justify-content: space-between;
}
.thrail-commerce-add-section {
	color: #ffffff;
	border-radius: 6px;
}
/* .accordion-content {
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}
.accordion-section:not(.is-open) .accordion-content {
    max-height: 0;
    opacity: 0;
    display: none;
} */
