/* .wp-block-thrail-commerce-accordion .accordion-header {
	cursor: pointer;
	background-color: #ccc;
	padding: 10px;
}
*/
.thrail-commerce-accordion-header {
	justify-content: space-between;
}
.thrail-commerce-add-section {
	color: #ffffff;
	border-radius: 6px;
}